{% extends 'base.html' %}

{% block content %}

<div class= "t-head">
  <table>
    <tr>
       <th>Class #</th>
       <th>session</th>
       <th>Duration(mins)</th>
       
       
     </tr>
 </table>
</div>
{% for gym_class in gym_classes%}
<div>
  <div class= "t-body">
  <table>
    <tr>
       <td>{{gym_class.id}}</td>
        <td>{{gym_class.gym_class_name}}</td>
        <td>{{gym_class.duration}}</td>
        <td class="sm-td"><a href= "/gym_classes/{{ gym_class.id }}/edit">&#9998;</a></td>
     </tr>
 </table>
 </div>
 
</div>




{% endfor %}




<a href ="/gym_classes/new">New Session</a>


{% endblock %}