{% extends 'base.html' %}

{% block content %}



<form action="/gym_classes" method="POST">
    <div>
        <label for="gym_class_name">Session</label>
        <input type="text" name="gym_class_name" >
        <label for="duration">duration</label>
        <input type="number" name="duration" >
        <label for="staff">Employees</label>
        <select name = "staff_id" id = "staff">
            {% for employee in staff %}
            
            
            <option value = "{{employee.id}}">
                {{employee.first_name +" " +employee.last_name}}
            </option>
            {% endfor %}
        </select>
        <input type="submit">
    </div>
</form>





{% endblock %}